@import url(font.css);

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  direction: rtl;
  font-family: "IranSansX", sans-serif !important;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input {
  font-family: inherit;
  border: none;
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  font-family: inherit;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

/* ========= Start Header ========== */

.header {
  background: url(../images/new-header.png);
  width: 100%;
  /* height: 100%; */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 114px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 3.5rem;
  position: relative;
  z-index: 9999;
}

header nav > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 2.5rem;
}

header nav ul li {
  margin: 0 1.2rem;
}

header nav a {
  color: #f5f5f5;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

header nav a:hover {
  color: #fff;
}

header nav .logo {
  width: 70px;
}

header nav .logo img {
  width: 100%;
}

header nav .login-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.login-btn {
  border: 2px solid #ececec;
  border-radius: 30px;
  width: 100px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  font-size: 12px !important;
  margin-right: 1.5rem;
}

.login-btn svg {
  width: 14px;
}

header nav .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header nav .language > p {
  margin: 0 0.3rem 0 0.5rem;
  font-size: 11px;
  font-weight: 300;
}

header nav .language > div {
  width: 13px;
}

header nav .language > div > img {
  width: 100%;
}

header nav .login-btn-arrow {
  width: 20px;
}

.header .header-layer-2 {
  position: absolute;
  right: 0;
  top: 0;
  width: 763px;
  height: 561px;
}

.header .header-layer-3 {
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  height: 240px;
}

/* ============ Start Blog Page =============== */

/* ============ Left Section Two ==============  */
.container-secondary-blog {
  max-width: 950px;
}

.blog-page-header {
  background-image: url(../images/blog/blog-header.png);
  background-repeat: no-repeat;
}

.blog-nav {
  padding: 0.8rem 0;
}

.blog-image-slide-container {
  position: relative;
  margin: 5rem auto 0 auto;
}

.blog-page-top-slide__info {
  position: absolute;
  bottom: 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.719);
  width: 100%;
  padding: 1rem 2rem;
  color: #000;
}

.blog-search {
  margin-bottom: 2rem;
}
.blog-page-top-slide__title span {
  font-size: 13px;
  margin-left: 1rem;
}

.blog-page-top-slide__title {
  margin-bottom: 0.5rem;
}

.blog-page-top-slide__info h1 {
  max-width: 500px;
  font-size: 22px;
}

.blog-page-top-slide__info a {
  font-size: 14px;
  color: #000;
  border-bottom: 2px solid #0077b8;
  padding-bottom: 2px;
}

.left-blog-page {
  max-width: 215px;
  direction: rtl;
}

.blog-search input {
  width: 100%;
  outline: none;
  border: none;
  font-family: inherit;
  transition: 0.5s ease;
  font-size: 13px;
}
.nav-links {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.page-numbers:last-child {
  border-left: 1px solid #f0f0f0;
}

.page-numbers:last-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.page-numbers:first-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: inherit;
}
.page-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f0f0f0;
  height: 40px;
  border-left: none;
  color: #747e8c;
  font-weight: bold;
  padding-top: 4px;
  width: 35px;
  transition: 0.3s ease;
}

.page-numbers:hover {
  background-color: #e4e5e7;
}
.page-numbers.current {
  background-color: #545cf5;
}
.page-numbers.current .pagination-page {
  color: #fff;
}
.blog-search input::placeholder {
  color: #b5b5b5;
}

.blog-search h3 {
  font-size: 18px;
  font-weight: 700;
  color: #1d2a3b;
  margin-bottom: 1rem;
}

.left-blog-page .left-blog-page__search-form {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  border: 1px solid #ebebeb;
}

.left-blog-page__title {
  font-weight: 500;
  font-size: 16px;
  color: #1d2a3b;
  margin-bottom: 1.3rem;
}

.side-news-container__side-news {
  display: flex;
  margin-bottom: 0.9rem;
}

.side-news-container {
  margin-bottom: 2rem;
}

.side-news h4 {
  font-size: 14px;
  word-spacing: 0px;
  font-weight: 600;
  color: #1d2a3b;
  letter-spacing: -0.2px;
}

.side-news span {
  color: #b5b5b5;
  font-size: 12px;
  margin-top: 0.3rem;
  display: block;
}

.side-news-container__image {
  width: 55px;
  height: 55px;
  margin-left: 7px;
}

.side-news-container__image img {
  width: 100%;
  height: 100%;
}

.categories-blog__item {
  margin: 0.7rem 0;
  display: flex;
  align-items: center;
}

.category-blog-title h5 {
  border-left: 1px solid #000;
  padding-left: 0.7rem;
  margin-left: 0.7rem;
}

.circle-blog-page {
  width: 8px;
  height: 8px;
  background-color: #e4e4e4;
  right: 0;
  border-radius: 50%;
  transition: 0.5s ease;
}

.categories-blog__link {
  width: 100%;
  font-size: 14px;
  display: flex;
  margin-right: 0.5rem;
  align-items: center;
  justify-content: space-between;
  color: #747e8c;
  transition: 0.5s ease;
}

.categories-blog {
  margin-bottom: 2rem;
}
.categories-blog__item:hover .categories-blog__link {
  color: #000;
}

.categories-blog__item:hover .circle-blog-page {
  background-color: #545cf5;
}

.categories-blog__link span {
  padding: 2px 8px 0;
  height: 15px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background-color: #545cf5;
  font-size: 9px;
  color: #fff;
}

.blog-tags {
  margin-bottom: 2rem;
}

.blog-tags__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.blog-tags__item {
  font-size: 11px;
  transition: 0.5s ease;
  color: #b5b5b5;
  font-weight: 700;
  letter-spacing: -0.2px;
  margin: 0 1.5px;
}

.blog-tags__item:hover {
  color: #545cf5;
}

.newsletters-container {
  background-color: #f8f9fd;
  border: 1px solid #f0f0f0;
  padding: 1.5rem 0.99rem;
}

.newsletters__desc p {
  font-size: 12px;
  font-weight: 400;
  color: #747e8c;
}

.newsletters__form input {
  border: none;
  border-bottom: 1px solid #dddee2;
  width: 100%;
  font-family: inherit;
  padding-bottom: 5px;
  direction: ltr;
  background-color: transparent;
  outline: none;
  font-size: 12px;
  color: #7b7c7e;
}

.newsletters__form input::placeholder {
  font-size: 12px;
}

.newsletters__desc {
  margin-bottom: 2rem;
}

.newsletters__btn {
  width: 100%;
  background-color: #545cf5;
  border: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  margin-top: 1rem;
  color: #fff;
}

/* ============ End Left Section Two ==============  */

/* ============ Start Right Section Two ==============  */

.main-news {
  display: flex;
}

.main-news__image {
  width: 260px;
  height: 205px;
}

.main-news__image img {
  width: 100%;
  height: 100%;
}

.main-news__writer {
  display: flex;
  margin-bottom: 0.5rem;
}

.main-news__writer span {
  color: #b5b5b5;
  font-size: 10px;
  display: block;
  font-weight: 700;
  margin: 0 0.5rem;
}

.main-news {
  margin: 1rem 0;
}

.main-news:first-child {
  margin-top: 0;
}

.blog-row-section-2 {
  padding: 3rem 0 6rem 0;
}

.main-news__title {
  font-size: 17px;
  color: #252525;
  font-weight: 700;
  margin-bottom: 0.6rem;
}

.main-news__desc {
  font-size: 13px;
  font-weight: 500;
  color: #747e8c;
  text-align: justify;
  margin-bottom: 1rem;
}

.main-news__btn {
  color: #000;
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 7px;
  border-bottom: 2px solid #545cf5;
}

.main-news__info {
  width: 56%;
  margin-right: 1.7rem;
  padding-top: 10px;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 35px;
}
/* ============ End Right Section Two ==============  */

/* =========== End Blog Page ================= */

/* ======== Start Footer ======== */

footer {
  /* background-color: #1B274C; */
  background-image: url(../images/footer-background.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100% 100%;
  padding: 5rem 0;
  color: #fff;
}

.footer-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 7rem;
}

.footer-logos .footer-logo-1 {
  width: 65px;
}

.footer-logos .footer-logo-2 {
  width: 190px;
}

.footer-logos .footer-logo-3 {
  width: 110px;
}

.footer-logos .footer-logo-4 {
  width: 180px;
}

footer .footer-menu li {
  -webkit-transition: 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -o-transition: 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  margin: 0.2rem 0;
}

footer .footer-menu a {
  color: #afb3c0;
  font-size: 14px;
  -webkit-transition: 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -o-transition: 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  font-weight: 500 !important;
}

footer .footer-menu a:hover {
  color: #fff;
  padding-right: 1rem;
}

footer .footer-title {
  font-weight: 400 !important;
  margin-bottom: 1rem;
}

footer .footer-contact h5 {
  margin: 0.5rem 0;
  font-weight: 100 !important;
  color: #ebebeb;
  font-size: 15px;
}

footer .footer-row {
  padding-bottom: 3em;
}

footer hr {
  border-top: none;
  border-color: #bcbfc8;
}

footer .social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 1.3rem;
  padding-bottom: 1.5rem;
}

footer .social-networks .social-network {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 0.2rem;
  color: #fff;
}

.face-book {
  background-color: #1372cf;
}

.instagram {
  background-color: #ef4140;
}

.twitter {
  background-color: #16baff;
}

footer .social-networks .social-network svg {
  width: 14px;
  height: 14px;
}

footer .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .footer-bottom h5 {
  font-weight: 100 !important;
  font-size: 12px;
  direction: ltr;
  color: #dde0e9;
}

/* ======== End Footer ======== */

.loader {
  position: fixed;
  z-index: 99999999999999999999999999999999999;
  width: 100%;
  background-color: #f9fbfe;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

/* body {
    overflow: hidden;
  } */

.loader img {
  display: block;
  width: 550px;
}

.owl-dots .owl-dot span {
  background-color: #465ee97a !important;
  -webkit-transition: 0.5s ease !important;
  -o-transition: 0.5s ease !important;
  transition: 0.5s ease !important;
  width: 4px !important;
  height: 4px !important;
}

.owl-dots .owl-dot.active span {
  width: 23px !important;
  height: 4px !important;
  background-color: #00d0df !important;
}

.res-menu {
  display: none;
}

.res-menu__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.pagination-page-arrow {
  font-size: 1.3rem;
  color: #252525;
  padding: 0.6rem;
}

/* =========== Start Single Page ============= */

/* =========== Start Section One ============= */

.container-secondary-single-page {
  max-width: 650px;
}
.section-1 {
  margin-top: 5.3rem;
}
.singlePage-sec-one-img img {
  width: 100%;
}

.singlePage-sec-1 h1 {
  font-weight: 400;
  font-size: 35px;
  margin: 1rem 0;
  line-height: 47px;
  letter-spacing: -0.3px;
}

.singlePage-sec-1 h1 a {
  color: #000;
}

.singlePage-sec-1 span {
  color: #707070;
  font-size: 12px;
  font-weight: 600;
}
/* ======== Start Section Two ======== */

.section-2 {
  margin-top: 1rem;
}
.single-page-paragraph p {
  font-size: 13.4px;
  font-weight: 500;
  margin: 1rem 0;
  line-height: 22px;
}
/* ======== End Section Two ======== */

/* ======== Start Section Three ======== */

.section-3 {
  margin-top: 1rem;
}

.p-single-page,
.comment-desc-2 {
  font-size: 13.4px;
  font-weight: 500;
  margin: 1rem 0;
  line-height: 22px;
}

.single-page-img-section-3 {
  margin-right: 1.5rem;
}

.single-page-img-section-3 img {
  width: 260px;
}

.section-4 {
  margin-top: 4rem;
}

.first-semicolon {
  transform: rotateY(180deg);
}

.comment-desc-1 p {
  text-align: center;
  font-weight: 500;
  max-width: 480px;
  margin: 0 auto;
}
.items-end {
  align-items: flex-end;
}
.comment-desc-2 {
  margin-top: 2rem;
}

.single-page-tags-title {
  color: #0c2785;
  font-weight: 600;
  margin-left: 1rem;
}

.single-page-tags a {
  border: 1px solid #0c2785;
  color: #0c2785;
  font-size: 11px;
  font-weight: 500;
  padding: 2px 0.6rem;
}

.single-page-line {
  border: none;
  border-bottom: 2px solid #dcdcdc;
  margin: 3rem 0 1rem 0;
}

.single-page-tags-container {
  margin-top: 3.5rem;
}
/* ======== End Section Three ======== */
.comment-desc-sec-container p {
  font-size: 13px;
  color: #0c2785;
  font-weight: 500;
}

.comment-desc-3 a,
.comment-desc-4 a {
  font-size: 12px;
  color: #000;
  font-weight: 500;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  color: #000;
}

.comment__heart {
  transition: 0.5s ease;
}

.comment__heart.active path {
  fill: red;
}

.comment-desc-3 svg {
  margin-left: 5px;
}

.comment-desc-3,
.comment-desc-4 {
  max-width: 250px;
}

.comment-desc-4 a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.comment-desc-4 svg {
  transform: rotateY(180deg);
  margin-right: 5px;
}
.vertical-line-single-page {
  height: 60px;
  width: 1px;
  background-color: #dcdcdc;
  margin: 1rem 0;
}

.single-page-profile {
  border-radius: 50%;
}

.single-page__user-title h3 {
  font-size: 16px;
  font-weight: 700;
  color: #0c2785;
}
.single-page__user-title p {
  font-size: 13px;
  font-weight: 400;
}

.single-page__user-title {
  padding-right: 1.5rem;
}

.single-page__user-profile {
  width: 75px;
}

.single-page__user {
  display: flex;
  align-items: center;
  margin-top: 4rem;
}

.single-page-line-2 {
  margin: 2rem 0;
}
/* =========== End Section One ============= */

/* ============ Start Last Section ============= */
.single-page-application-container {
  display: flex;
  align-items: flex-start;
  max-width: 1250px;
  margin: 0 auto;
}

.about-comments {
  height: 589px;
  overflow: hidden;
}

.single-page-comments {
  width: 55%;
  overflow-y: scroll;
  direction: ltr;
}

.single-page-comments::-webkit-scrollbar {
  width: 4px;
}

.single-page-comments::-webkit-scrollbar-track {
  background: #d3d3d3;
}

.single-page-comments::-webkit-scrollbar-thumb {
  background: #1b274c;
}

.single-page-comments::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.single-page-submit-comments {
  width: 45%;
}

.single-page-submit-comments {
  background-color: #eaeef2;
  padding: 2rem 2.5rem;
  border-radius: 8px;
}

.single-page-submit-comments h3 {
  color: #262c3f;
  font-size: 15px;
  margin-bottom: 1rem;
  font-weight: 600;
}

.single-page-submit-comments form {
  display: flex;
  flex-direction: column;
}

.single-page-submit-comments form input,
.single-page-submit-comments form textarea {
  border: none;
  font-family: inherit;
  outline: none;
  padding: 1rem;
  color: #9da0a8;
  font-size: 16px;
  border-radius: 8px;
  margin: 0.5rem 0;
  font-weight: 600;
  width: 100%;
}

.single-page-submit-comments form input::placeholder,
.single-page-submit-comments form textarea::placeholder {
  color: #9da0a8;
}

.single-page-submit-comments form textarea {
  resize: none;
  height: 270px;
  display: block;
}

.single-page-submit-comments form button {
  max-width: 160px;
  background-color: #1b274c;
  color: #fff;
  border-radius: 8px;
  font-weight: 700;
  height: 40px;
  font-size: 17px;
  margin-top: 1rem;
}

.comment-container {
  max-width: 580px;
  margin: 0 auto;
  direction: rtl;
}

.comment {
  display: flex;
  align-items: flex-start;
}

.comment__profile {
  width: 70px;
}

.comment__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.comment__title,
.comment__text {
  color: #625f6b;
}

.comment__info-container {
  margin-right: 4rem;
  width: 100%;
}

.comment__writer {
  font-size: 17px;
  font-weight: 800;
  position: relative;
}

.comment__calender {
  font-size: 11px;
  font-weight: 700;
}

.comment__text {
  font-size: 13px;
  font-weight: 700;
  margin-top: 1.2rem;
}

.comment__name-container {
  display: flex;
  align-items: center;
}

.comment__stars {
  display: flex;
  margin-right: 1.5rem;
}

.comment__star {
  color: #cbcbcb;
  font-size: 9.5px;
  margin: 0 1px;
}

.comment__star.active {
  color: #ffc107;
}

.comment__edit {
  padding-top: 0.5rem;
  display: flex;
  align-items: flex-start;
}

.comment__edit button {
  margin: 0 3px;
}

.comment__line {
  border: none;
  border-bottom: 1px solid #d8d8d8;
  margin: 1.5rem 0;
}

.other-comments__comment {
  display: flex;
  align-items: flex-start;
}

.other-comments__image {
  width: 55px;
  position: relative;
}

.other-comments__title {
  margin-right: 1.5rem;
}

.other-comments__writer {
  font-size: 14px;
  font-weight: 800;
}

.other-comments__calender {
  font-size: 9px;
  font-weight: 700;
}

.other-comments__text {
  margin-top: 1rem;
}

.other-comments {
  margin-top: 3.5rem;
  position: relative;
}

.other-comments::before {
  position: absolute;
  content: "";
  bottom: 0;
  top: 0;
  right: 27px;
  z-index: -1;
  width: 1px;
  background-color: #d8d8d8;
}

.other-comments .other-comments__comment:last-child {
  position: relative;
}

.other-comments .other-comments__comment:last-child::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  right: 27px;
  background-color: #fff;
}

.other-comments__comment {
  margin-bottom: 4rem;
}

.section-5 {
  margin: 7rem 0;
}

.blog-title > div {
  margin-top: 2rem;
  text-align: center;
}

.blog-title h2 {
  position: relative;
  background-color: #fff;
  z-index: 9;
  max-width: 200px;
  margin: 0 auto;
  font-weight: 500;
  padding: 0.5rem 1rem;
}

.teacher__img img {
  width: 100%;
  height: 100%;
}

.blog-title {
  position: relative;
  margin-bottom: 1rem;
}

.blog-title hr {
  border-color: transparent;
  border-bottom: 2px solid #00a7fb6c;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.blog-page-top-slide__info h2 {
  font-weight: 500;
  font-size: 14px;
}

.blog-image-slide-container-2 {
  margin: 0;
}

.flex-column {
  flex-direction: column;
}

.container-left-blog {
  height: 100%;
}

.container-left-blog > diV:first-child > div:first-child,
.container-left-blog > diV:last-child > div:first-child {
  margin-left: 1.5rem;
}

.blog__responsive-nav {
  display: flex;
}

.blog__responsive-nav .res-menu__bar-icon {
  display: none;
}

.responsive-blog-menu {
  display: none;
}

.blog-filter {
  display: none;
}

.main-news__res-line {
  display: none;
}

.footer__res {
  display: none;
}

.arrow-blog-left {
  transform: rotateY(180deg);
  margin-right: 5px;
}

.last-btn {
  display: none !important;
}

.blog-single__hr {
  display: none;
}
/* ============ End Last Section ============= */

/* =========== End Single Page ============= */

.category__dropdown-item {
  margin: 0 !important;
  box-shadow: none !important;
  border-bottom: 1px solid #9da0a8;
  border-radius: 0 !important;
}

.categories li:last-child .category__dropdown-item {
  border-bottom: 0;
}

.categories {
  box-shadow: 0 0 10px #b8b8b8;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
  transition: 0.3s ease;
}

.blog-res-filters-title-btn {
  margin-bottom: 0 !important;
}
.category-drppdown {

  position: relative;
}
.category-drppdown.active {
  box-shadow: 0 0 10px #b8b8b8;
}

.category-drppdown.active .categories {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

.category-drppdown.active  .blog-res-filters-title-btn{
  border-bottom: 1px solid #9da0a8;
  border-radius: 0 !important;
}

.category-drppdown.active .blog-res-filters-title-btn{
  box-shadow: none;
}
