.text-white {
    color: #fff;
}

.bg-blue {
    background-color: #000;
}

.d-flex {
    display: flex;   
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.p-t {
    padding-top: 3rem;
}

.text-center {
    text-align: center;
}

.justify-center {
    justify-content: center;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}