.mailpoet_form input {
    border: none;
    border-bottom: 1px solid #dddee2;
    width: 100%;
    font-family: inherit;
    padding-bottom: 5px;
    direction: ltr;
    background-color: transparent;
    outline: none;
    font-size: 12px;
    color: #7b7c7e;
}

.mailpoet_form input::placeholder {
    font-size: 12px;
}

input[type='submit'] {
    cursor: pointer;
}

footer ul li {
    -webkit-transition: 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    -o-transition: 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    margin: 0.2rem 0;
}

footer ul a {
    color: #afb3c0;
    font-size: 14px;
    -webkit-transition: 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    -o-transition: 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    font-weight: 500 !important;
}

footer ul a:hover {
    color: #fff;
    padding-right: 1rem;
}

#commentform .submit {
    background-color: #1b274c;
    color: #fff;
    border-radius: 8px;
    font-weight: 700;
    font-size: 17px;
    margin-top: 1rem;
}

.other-comments__image, .single-page__user-profile, .comment__profile {
    height: auto;
}

a {
    font-size: 14px;
    color: #414141;
}

.blog-title h2 {
    max-width: -moz-max-content;    /* Firefox/Gecko */
    max-width: -webkit-max-content; /* Chrome */
    max-width: max-content;
}


@media only screen and (max-width: 992px) {
    .container-menu .ul-res-menu::before {
        content: 'روتیکس';
        display: block;
        font-size: 1.4rem;
        letter-spacing: 1px;
        border-bottom: 1px solid #70707033;
        padding: 1rem 1.5rem 0.7rem 0;
        color: #1b274c;
        font-weight: 600;
    }

    .container-menu .ul-res-menu > li > a, .container-menu .ul-res-menu li button {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 16px;
    }

    .container-menu .ul-res-menu > li > a i {
        font-size: 30px;
    }

    .comment-desc-sec-container {
        display: none !important;
    }

    .footer-row > div:first-child, .footer-row > div:nth-child(3) {
        display: unset !important;
    }

    .footer-item:nth-child(2) {
        display: flex;
        justify-content: end;
        flex-direction: row;
    }

    .alert-info {
        margin: 5px 20px;
    }

    .blog-res-filter__title {
        width: 85px;
    }

    .blog-res-filter {
        margin-top: 2rem;
    }

    .blog-row-section-2 {
        padding: 0rem 0 2rem 0;
    }

    .side-news-container__side-news {
        margin: 1rem 0;
    }

    .side-news-container {
        margin-top: 2rem;
    }
}